# shellcheck shell=bash
dotenv_if_exists

# Setup Python virtual environment
test -d .venv || uv venv --python 3.13
source .venv/bin/activate

# Setup Rust environment
export RUST_LOG=info,zage=debug
export LIBTORCH_USE_PYTORCH=1
